# Rename this file to .env and change the values to your needs.
# This file is used to configure the environment for jury1.

# Sets the runtime to use for docker (default: runc)
DOCKER_RUNTIME=

# Sets the docker image to use for python (default: python:alpine)
DOCKER_IMAGE_PYTHON=

# Sets the docker image to use for python with custom unittest runner (default: python-unittest)
DOCKER_IMAGE_PYTHON_UNITTEST=

# Sets the docker image to use for java (default: eclipse-temurin:21-jdk-alpine)
DOCKER_IMAGE_JAVA=

# Sets the docker image to use for java with junit (default: java-junit)
DOCKER_IMAGE_JAVA_JUNIT=

# Sets the path for temporary files on the host machine (default: //c/tmp on win32, /tmp on linux)
HOST_TMP_DIR=

# Sets the maximum allowed CPU utilisation per request (default: 0.8)
CPU_LIMIT=

# Sets the maximum allowed RAM utilisation (in (K|M|G)bytes, e.g. '2G' for 2 gigabytes) per request (default: 1G)
MEMORY_LIMIT=

# Sets the limit for the execution time of the code in the container (in milliseconds) per request (default: 10000)
EXECUTION_TIME_LIMIT=

# Log level (error, warn (default), info, http, verbose, debug, silly)
LOG_LEVEL=
