<div class="code-executor">
  <button (click)="startSession()">Start Interactive Session</button>
  <button (click)="disconnect()">End Session</button>

  <div class="output-window">
    <p *ngFor="let line of output">{{ line }}</p>
  </div>

  <textarea [(ngModel)]="input" placeholder="Enter input here"></textarea>
  <div>
    <button (click)="sendInput()">Send Input</button>
    <button (click)="upsertFiles()">Send Input as Files</button>
    <button (click)="startProgram()">Start Program</button>
  </div>

  <h3>Example usage of how to input files as text (content has to be base64 encoded)</h3>
  <pre>
    <code [innerHTML]="code"></code>
  </pre>
</div>